body {
    background-color: lightyellow;
    margin: 50px;
    padding: 0px;
    text-align: center;
}

form {
    display: inline-block;
}

#message-display {
    height: 300px;
    overflow: scroll;
    margin-bottom: 30px;
}

.message {
    margin: 5px;
}