
{% for message in messages %}

    {% if message.translation and message.author_id != g.user.user_id and message.text != message.translation.trans_text %}

        <div class="message">
            {{ message.text}}<br>
            {{ message.translation.trans_text }}<br>       
            {{ message.timestamp.strftime("%d-%m-%y %H:%M") }} 
            {{ message.user.fname }}
            <br><br>
        </div>

    {% else %}

        <div class="message">
            {{ message.text}}<br>     
            {{ message.timestamp.strftime("%d-%m-%y %H:%M") }} 
            {{ message.user.fname }}
            <br><br>
        </div>

    {% endif %} 

{% endfor %}
